model_joblib.pkl
model_pickle
extra.py
get_data.py
model.py
Lab Assessment - Continuous Assessment.pdf
Group_123.zip
Group_123
logs.log
__pycache__
test.py
wdbc.data 
streamlit_app.py
best_model.pkl
trash
.venu
.vscode

